body {
    font-family: Arial, sans-serif;
    background-color: #0a1d29;
    color: #e0e0e0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.central {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #1e2a34;
    margin: 20px;
    border-radius: 8px;
    overflow-y: visible;
}

.filmes {
    background-color: #10242f;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.filmes:hover {
    transform: scale(1.02); 
}

.filmes .img_poster {
    width: 300px;
}

.butt {
    text-align: end;
    padding: 10px;
}

.button_remover {
    padding: 7px;
    border-radius: 10px;
    background-color: #ff4d4d; /* Vermelho vibrante */
    color: #fff; /* Texto branco */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
}

.button_remover:hover {
    background-color: #e60000; /* Vermelho escuro ao passar o mouse */
}

.esquerda, .direita {
    background-color: #10242f; 
    width: 300px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.filme_recomendado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); 
    margin: 20px;
    border-radius: 8px;
    background-color: #1e2a34;
}

.filme_recomendado .img_poster {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}

.cabecalho_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0a1d29; /* Fundo escuro */
    border-bottom: 2px solid #10242f; /* Borda sutil para destaque */
}

.cabecalho_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.cabecalho_nav li {
    margin: 0;
}

.cabecalho_nav a {
    text-decoration: none;
    color: #e0e0e0; /* Cor do texto clara */
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
    display: block;
    transition: background-color 0.3s ease; /* Transição suave */
}

.cabecalho_nav li:hover {
    background-color: #1e2a34; /* Fundo escuro ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas */
}

.cabecalho_nav .input_text {
    display: flex;
    align-items: center;
}

.cabecalho_nav input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px; /* Espaço entre o campo de texto e o botão */
    background-color: #10242f; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    border: 1px solid #1e2a34; /* Borda escura */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave */
}

.cabecalho_nav input[type="text"]:focus {
    background-color: #1e2a34; /* Fundo escuro mais intenso ao focar */
    outline: none; /* Remove o contorno padrão */
    border-color: #007bff; /* Cor da borda ao focar */
}

.cabecalho_nav button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Azul vibrante */
    color: white;
    border: none;
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave */
}

.cabecalho_nav button:hover {
    background-color: #0056b3; /* Azul escuro ao passar o mouse */
}