body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #040c13;
}

.esqueci {
    background-color: #0a1d29;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Adiciona largura máxima para responsividade */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
    color: white;
}

.esqueci input {
    background-color: #30546b;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px; 
    box-sizing: border-box;
}

.esqueci button {
    width: 100%;
    background-color: #1e3c52;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px; 
    border: none;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.esqueci button:hover {
    background-color: #000;
}

.esqueci h3 {
    text-align: center;
    margin: 0; /* Remove a margem padrão do <h3> */
}
