body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela inteira */
    background-color: #040c13; /* Cor de fundo da página */
  }
.conteiner_Login  {
    background-color:#0a1d29;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0,0, alpha);
    width: 300px;
    text-align: center;
}
.conteiner_Login input  {
    background-color: #30546b;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.conteiner_Login button {
    width: 100%;
    padding: 10px;
    background-color: #1e3c52;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.conteiner_Login h3{
    color: white ;
}
.conteiner_Login button:hover {
    background-color: #000000; /* Cor do botão ao passar o mouse */
}
.conteiner_Login .esqueceu_senha {
    display: block;
    text-align: left; /* Alinha o link à esquerda */
    color: white;
    font-size: 10px;
    text-decoration: none;
    margin-bottom: 5px;
}
.conteiner_Login .esqueceu_senha:hover {
    text-decoration: underline;
}
.conteiner_Login .criar_conta {
    display: block;
    text-align: center;
    font-size: 12px;
    color: white;
}
.conteiner_Login .criar_conta a {
    text-decoration: none;
    color: white;
}
.conteiner_Login .criar_conta a:hover {
    text-decoration: underline;
}
#message-container {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}

#message-container.success {
    border-color: green;
    color: white;
}

#message-container.error {
    border-color: red;
    color: white;
}